@media (max-width: 1500px) {
    .main-screen-icons {
        right: -105px;
    }
}

@media (max-width: 1350px) {
    .main-screen-icons__image {
        right: 0;
    }
}

@media (max-width: 1300px) {
    .main-screen-icons {
        right: -200px;
    } 
}

@media (max-width: 1200px) {
    .main-screen-icons {
        transform: scale(0.9);
        right: -200px;
    }
    .account--products {
        .products-item {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
        .products-item__box {
            flex-direction: row;
        }
        .products-item__box-link {
            order: -1;
        }
    }
}

@media (max-width: 1150px) {
    .main-screen-icons {
        transform: scale(0.8);
        right: -300px;
    }
    .advantages-item__text {
        br {
            display: none;
        }
    }
}

@media (max-width: 1100px) {
    .header {
        margin-top: 15px;
    }
    .menu {
        display: none;
    }
    .burger {
        display: flex;
    }
    .header__wrapper {
        margin-right: 25px;
    }
    .lang {
        margin-left: auto;
    }
    .assortment__inner {
        grid-template-columns: 1fr 1fr;
    }
    .assortment-item__list {
        width: unset;
    }
    .body--active {
        overflow: hidden;
        .big-wrapper {
            position: unset;
            &::before {
                content: unset;
            }
        }
        .header {
            position: unset;
            transform: unset !important;
            transition-duration: unset !important;
        }
        .menu {
            background: #11131a;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 150;
        }
        .menu__list {
            gap: 20px;
            flex-direction: column;
        }
    }
}

@media (max-width: 1000px) {
    .products-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .products-item__heading {
        margin-left: auto;
        max-width: unset;
    }
    .products-item__list {
        margin-left: auto;
        text-align: left;
    }
    .account__inner {
        flex-direction: column;
    }
    .account-aside {
        width: 100%;
        min-width: unset;
    }
    .account-settings {
        max-width: 100%;
    }
    .main-screen-icons {
        transform: scale(0.7);
        right: -300px;
    }
    .main-screen-icons {
        display: none;
    }
    .section-top__backgrounds {
        svg {
            bottom: -50px;
            right: 40px;
            width: 40px;
            height: 40px;
        }
    }

    .account--products {
        .products-item {
            align-items: center;
        }
        .products-item__box {
            flex-direction: column;
        }
        .products-item__box-link {
            order: unset;
        }
    }

    .community {
        align-items: flex-start;
        padding-top: 0;
    }
    .community__title {
        text-align: left;
    }
}

@media (max-width: 850px) {
    .steps__inner {
        flex-direction: column;
    }
    .steps__heading {
        max-width: unset;
    }
    .steps__heading {
        padding-top: 0;
    }
    .steps-body {
        max-width: unset;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .testimonials__inner {
        grid-template-columns: 1fr 1fr;
    }
    .advantages__inner {
        grid-template-columns: 1fr 1fr;
    }
    .about__inner {
        flex-direction: column;
    }
    .about-body {
        text-align: center;
        order: -1;
        justify-content: center;
        align-items: center;
    }
    .about--start .about__backgrounds svg:nth-child(1) {
        right: 50px;

    }
    .about--start .about__backgrounds svg:nth-child(2) {
        right: 30px;
    }

    .about__backgrounds svg {
        left: 90%;
    }

    .about__img-image {
        margin-left: unset;
    }

    .about__img-image{
        animation: scaleAnim 3s infinite !important;
    }
}

@media (max-width: 700px) {
    .footer__inner {
        flex-direction: column;
    }
    .faq__inner {
        flex-direction: column;
        align-items: center;
    }
    .main-screen {
        overflow: hidden;
    }
    .main-screen-icons {
        left: 5%;
        transform: translateX(-50%);
        transform: scale(0.7);
    }
    .assortment__inner {
        grid-template-columns: 1fr;
    }
    .assortment-item__link {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 600px) {
    .lang {
        display: none;
    }
    .header__button {
        display: none;
    }
    .popup__close {
        right: 0;
        top: -40px;
    }
    .body--active {
        .menu {
            background: unset;
            position: unset;
            height: unset;
        }
        .header__wrapper {
            background: #11131a;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            gap: 20px;
            z-index: 150;
            margin-right: unset;
        }
        .header__button {
            display: flex;
        }
        .lang {
            display: flex;
            margin-left: unset;
            margin-right: unset;
        }
    }
    .lang__list {
        background: #11131a;
        width: 200px;
        left: 50%;
        height: 200px;
        justify-content: flex-start;
        align-items: center;
        text-align: flex-start;
        transform: translateX(-50%);
    }
}

@media (max-width: 550px) {
    .products-item__list {
        grid-template-columns: 1fr;
    }
    .testimonials__inner {
        grid-template-columns: 1fr;
    }
    .advantages__inner {
        grid-template-columns: 1fr;
    }
    .partners-swiper {
        &::before {
            content: unset;
        }
    }
    .partners-swiper {
        &::after {
            content: unset;
        }
    }

    .testimonials-swiper__prev {
        display: none;
    }
    .testimonials-swiper__next {
        display: none;
    }
    .testimonials-swiper {
        &::after {
            content: unset;
        }
        &::before {
            content: unset;
        }
    }

    .main-screen-icons {
        top: -45px;
    }
}
